@model HomeIndexViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fas fa-clipboard-list"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">All logs count</span>
                <span class="info-box-number">@Model.AllCount <small>logs</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fas fa-bomb"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Error logs count</span>
                <span class="info-box-number">@Model.ErrorCount <small>logs</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-blue"><i class="fas fa-exclamation-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Info logs count</span>
                <span class="info-box-number">@Model.InfoCount <small>logs</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fas fa-bug"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Debug logs count</span>
                <span class="info-box-number">@Model.DebugCount <small>logs</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>

<div class="row">

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header text-bold">
                Using C# RestSharp
            </div>
            <div class="card-body">
                <pre>
using Programatica.VerySimpleLogger.Data.Models;
using RestSharp;

var client = new RestClient();
var request = new RestRequest("@Model.ServerUrl", Method.POST).AddJsonBody(log);
await client.ExecuteAsync(request);
    </pre>
            </div>
            <div class="card-footer">
                <a href="https://www.nuget.org/packages/RestSharp/" class="btn btn-success">Go to nuget package</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header text-bold">
                Using C# Programatica.VerySimpleLogger.Client
            </div>
            <div class="card-body">
                <pre>
using Programatica.VerySimpleLogger.Data.Models;
using System.Threading.Tasks;

VerySimpleLoggerClient.ServerUrl = "@Model.ServerUrl";
await VerySimpleLoggerClient.LogAsync("Main", LogLevelEnum.Info, "Just another info message");
    </pre>
            </div>
            <div class="card-footer">
                <a href="https://www.nuget.org/packages/Programatica.VerySimpleLogger.Client/" class="btn btn-success">Go to nuget package</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header text-bold">
                Using Curl command line
            </div>
            <div class="card-body">
                <pre>
curl -X POST -H "Content-Type: application/json" -d \
'{"Caller":"caller", "Level":1, "Message":"message", "CreatedDate":"2021-01-02 03:30:00"}' \
@Model.ServerUrl
    </pre>
            </div>
            <div class="card-footer">
                <a href="https://curl.se/docs/manpage.html?data1=dwnmop" class="btn btn-success">Go to man page</a>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            //global.toastinfo("Database ConnectionString:<br>" + _page.connectionString);
        });

    </script>
}
